---
layout: base
---

<div class="contents">
	{% for focus in site.posts %}
	{% if focus.focus %}


	<div class="card" , style="border:0">
		<div class="row g-0 focus-card">
			<div class="col-md-6">
				<a href="{{ focus.url | relative_url }}">
					<img src="{{ site.baseurl }}/assets/images/{{ focus.image }}" class="img-fluid focus-image" alt="Cover Focus">
				</a>
			</div>
			<div class="col-md-6" style="display: flex; align-items: center;">
				<div class="card-body focus-text">
					<a href="{{ focus.url | relative_url  }}" class="url-text">
						<h1 class="card-title">{{ focus.head }}</h1>
					</a>
					<p class="card-text text-ellipsis">{{ focus.desc }}</p>
					<p class="card-text"><small class="text-muted">{{ focus.uploaded_on }}</small></p>
					<div class="dropdown text-center">
						<a class="btn btn-outline-success dropdown-toggle" href="#" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Listen On
						</a>

						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="{{ focus.youtube_link }}" target="_blank">YouTube</a></li>
							<li><a class="dropdown-item" href="{{ focus.spotify_link }}" target="_blank">Spotify</a></li>
							<li><a class="dropdown-item" href="{{ focus.apple_podcasts_link }}" target="_blank">Apple Podcasts</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endif %}
	{% endfor %}

	<h3 style="margin-left: 5vw; margin-top: 50px;">Recent Episodes</h3>

	<div style="margin-left: 5vw; margin-right: 5vw">
		<div class="row row-cols-1 row-cols-md-3 g-4">
			{% for episode in site.posts %}
			<div class="col">
				<div class="card h-100">
					<a href="{{ episode.url | relative_url  }}" class="url-text">
						<img src="{{ site.baseurl }}/assets/images/{{ episode.image }}" class="card-img-top">
					</a>
					<div class="card-body">
						<a href="{{ episode.url | relative_url  }}" class="url-text">
							<h5 class="card-title">{{ episode.head }}</h5>
						</a>
						<p class="card-text">
							{{ episode.desc }}
						<div class="dropdown text-center">
							<a class="btn btn-outline-success dropdown-toggle" href="#" role="button"
								data-bs-toggle="dropdown" aria-expanded="false">
								Listen
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="{{ episode.youtube_link }}" target="_blank">YouTube</a></li>
								<li><a class="dropdown-item" href="{{ episode.spotify_link }}" target="_blank">Spotify</a></li>
								<li><a class="dropdown-item" href="{{ episode.apple_podcasts_link }}" target="_blank">Apple Podcasts</a>
								</li>
							</ul>
						</div>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>